<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcial Seminario</title>
</head>

<body>
    <h1>Servicio REST</h1>
    <form id="formulario">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" required>
        <button type="button" onclick="enviarFormulario()">Enviar</button>
    </form>
    <h1>Servicio SOAP</h1>
    <h2>Listado consultado con SOAP:</h2>
    <table id="soapTable" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>DNI</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        function enviarFormulario() {
            var nombre = document.getElementById('nombre').value;
            var apellido = document.getElementById('apellido').value;
            var dni = document.getElementById('dni').value;
            var datos = {
                apellidos: apellido,
                nombres: nombre,
                dni: dni
            };
            fetch('http://localhost:8080/insertar_con_rest', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(datos),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Respuesta del servicio REST:', data);
                })
                .catch(error => {
                    console.error('Error en la solicitud REST:', error);
                });
        }
    </script>
    <script>
        function actualizarTablaSOAP(datos) {
            const tablaSOAP = document.getElementById("soapTable");
            tablaSOAP.innerHTML = "";
            const encabezados = ["ID", "Apellidos", "Nombres", "DNI"];
            const encabezadoRow = tablaSOAP.insertRow();
            encabezados.forEach(encabezado => {
                const cell = encabezadoRow.insertCell();
                cell.innerHTML = `<b>${encabezado}</b>`;
            });
            datos.forEach(alumno => {
                const row = tablaSOAP.insertRow();
                Object.values(alumno).forEach(valor => {
                    const cell = row.insertCell();
                    cell.innerHTML = valor;
                });
            });
        }
        async function cargarDatosSOAP() {
            try {
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/xml");
                var raw = "<soapenv:Envelope\r\n  xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"\r\n  xmlns:web=\"http://www.example.com/\">\r\n  <soapenv:Header/>\r\n  <soapenv:Body>\r\n    <web:consultarAlumnos/>\r\n  </soapenv:Body>\r\n</soapenv:Envelope>";
                var requestOptions = {
                    method: 'POST',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };
                const response = await fetch("http://localhost:8888/consultar_con_soap", requestOptions);
                if (!response.ok) {
                    throw new Error(`Error al obtener datos del servicio SOAP: ${response.status} ${response.statusText}`);
                }
                const text = await response.text();
                const parser = new DOMParser();
                const xmlDoc = parser.parseFromString(text, "text/xml");
                const alumnosNodeList = xmlDoc.querySelectorAll("alumnos");
                const alumnos = Array.from(alumnosNodeList).map(alumnoNode => {
                    return {
                        id: alumnoNode.querySelector("id").textContent,
                        apellidos: alumnoNode.querySelector("apellidos").textContent,
                        nombres: alumnoNode.querySelector("nombres").textContent,
                        dni: alumnoNode.querySelector("dni").textContent,
                    };
                });
                console.log("Datos recibidos del servicio SOAP", alumnos);
                actualizarTablaSOAP(alumnos);
            } catch (error) {
                console.error(error);
            }
        }
        cargarDatosSOAP();
    </script>
</body>

</html>
